@import 'variables';
@import 'bootstrap';


// -----------

.astro-code {
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;

    box-shadow: $box-shadow-sm;
}

body {
    padding-top: $navbar-padding-y * 2 + 3rem;
}