<!-- ---
import Layout from "@/layouts/Layout.astro";
---

<script src="@/components/camelot/Main" type="module">
</script>

<Layout>
    <canvas id="game" class="w-100"></canvas>

    <hr />
    <a href="https://excaliburjs.com/" target="_blank">Excalibur</a>
</Layout> -->
