---
// Component Imports
import Layout from "@/layouts/Layout.astro";
import BlogPostsList from "@/components/BlogPostsList.astro";
import { Icon } from "astro-icon/components";
import { Row } from "react-bootstrap";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div class="row mt-3">
    <div class="col-md-6 col-lg-8">
      <h2>.posts</h2>
      <BlogPostsList />
    </div>
    <div class="col-md-6 col-lg-4">
      <h2>.misc</h2>
      <div>
        <small class="pb-2">Silly experiments with various JS game engines:</small>
        <ul class="list-group">
          <li class="list-group-item">
            <h4><a href="/sphere">Sphere 1</a></h4>
            BabylonJS Geosphere
          </li>
          <li class="list-group-item">
            <h4>
              <a href="/cantaloupe">MelonJs</a>
            </h4>
          </li>
          <li class="list-group-item">
            <h4>
              <a href="/excalibur">Excalibur</a>
            </h4>
            Excalibur 2d stuff
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
