---
// Component Imports
import Layout from "../layouts/Layout.astro";
import BlogPostsList from "../components/BlogPostsList.astro";


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item"><a rel="me" href="https://hachyderm.io/@leniency">hachyderm.io/@leniency</a></li>
    </ul>
  </div>

  <div class="mt-3">
    <h2>.posts</h2>
  </div>
  <BlogPostsList />
</Layout>
