---
// Component Imports
import Layout from "@/layouts/Layout.astro";
import BlogPostsList from "@/components/BlogPostsList.astro";
import { Icon } from "astro-icon";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div class="row mt-3">
    <div class="col-md-6 col-lg-8">
      <h2>.posts</h2>
      <BlogPostsList />
    </div>
    <div class="col-md-6 col-lg-4">
      <h2>.misc</h2>
      <div>
        <h3>
          <a href="/sphere">Sphere 1</a>
        </h3>
      </div>
    </div>
  </div>
</Layout>
