body {
  background-color: #f3f3f3;
  font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
  font-size: 11px;
}
#container {
  width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}
#container > nav {
  float: right;
}
#container > article {
  clear: both;
}
#container > footer {
  clear: both;
  text-align: right;
  color: #999;
}
