---
export interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<div class="layout">
  <article class="content">
    <div>
      <header>
        <p class="publish-date">{date}</p>
      </header>
      <main>
        <h1>{title}</h1>
        <slot />
      </main>
    </div>
  </article>
</div>
