---
export interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<article>
  <div>
    <header>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/">Home</a>
        </li>
        <li class="list-inline-item"></li>
      </ul>
    </header>
    <main>
      <h2>{title}</h2>
      <div class="border-bottom border-dark pb-3 mb-3">
        <small class="opacity-50">
          {new Date(date)?.toDateString()}
        </small>
      </div>
      <slot />
    </main>
  </div>
</article>
