---
export interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<article> 
  <div>
    <header>
      <p class="publish-date">{date}</p>
    </header>
    <main>
      <h2>{title}</h2>
      <slot />
    </main>
  </div>
</article>
