<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <style>

        </style>
    </head>

    <body>
        <div class="container-xl">
            <header>
                <h1 class="text-lg">.chronoclast</h1>
            </header>
            <main>
                <slot />
            </main>
            <footer></footer>
        </div>
    </body>
</html>
