---
import { Icon } from "astro-icon";
import "../styles/site.scss";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title></title>
    </head>

    <body>
        <nav class="navbar fixed-top bg-dark shadow">
            <div class="container-lg">
                <a
                    class="navbar-brand text-white"
                    href="https://chronoclast.com">.chronoclast</a
                >
            </div>
        </nav>
        <main class="container-lg d-flex flex-column">
            <div class="flex-fill">
                <slot />
            </div>
            <footer class="d-flex">
                <a rel="me" href="https://github.com/leniency" class="me-4 text-primary">
                    <Icon name="github" />
                    <span>github.com/leniency</span>
                </a>
                <a rel="me" href="https://hachyderm.io/@leniency" class="me-4 text-primary">
                    <Icon name="mastodon" />
                    <span>hachyderm.io/@leniency</span>
                </a>
            </footer>
        </main>
    </body>
</html>
