---
import "../styles/site.scss";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>

    <body>
        <nav class="navbar fixed-top bg-dark shadow">
            <div class="container-lg">
              <a class="navbar-brand text-white" href="https://chronoclast.com">.chronoclast</a>
            </div>
          </nav>
        <div class="container-lg">
            <main>
                <slot />
            </main>
            <footer></footer>
        </div>
    </body>
</html>
